<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
    <link rel="stylesheet" href="contact-us.css">
<link href="http://fonts.cdnfonts.com/css/inder" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header><a href="index.html" class="logo-container">
        <img src="./dsyne 2 white 2.png" alt="logo" class="logo top-image" height="50px" width="50px">
        <!-- <img src="./dsyne 2 white 2.png" alt="logo" class="logo"  height="50px" width="50px"> -->
    </a>
    <nav class="nav-bar" id="nav-links">
        <ul class="nav-items">
            <li><a class="nav-links hidden-for-mobile" href="templates.html">Templates</a></li>
            <li id="select-field" class="hidden-for-mobile">
                <a class="nav-links" id="drop-btn" href="#/">Build website <span id="drop-down"
                        data-icon="ic:baseline-arrow-drop-down" class="iconify"></span></a>
                <div class="drop-menu" id="drop-menu">
                    <p>Choose a template</p>
                    <ul id="drop-list">
                        <li><a class="drop-down-options" href="blog.html">Blog</a></li>
                        <li><a class="drop-down-options" href="ecom.html">Ecommerce</a></li>
                        <li><a class="drop-down-options" href="Portfolio.html">Portfolio</a></li>
                    </ul>
                </div>
            </li>
            <li><a class="nav-links" href="contact us.html">Contact us</a></li>
        </ul>
        <!-- toggle button for switchind theme goes here -->
        <div class="wrapper-color-switch">
            <input type="checkbox" id="input-color-switch" />
            <label for="input-color-switch" class="color-switch">
                <div class="color-switch-toggle"></div>
            </label>
        </div>
        <!-- toggle button for switchind theme ends here -->
        <div class="nav-buttons">
            <button class="login-btn btn primary-btn">Log In</button>
            <button class="secondary-btn btn signup-btn">Get Started</button>
        </div>
    </nav>
    <a href="#/" class="hidden-for-desktop menu-hamburger menu" id="menu"><span class="iconify menu"
            data-icon="charm:menu-hamburger"></span></a>
    </header>
    <!-- ICONIFY FRAMEWORK -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- ICONIFY FRAMEWORK -->
    <script src="./contact.js"></script></header>
    <main>
        <p>
        <span>Contact Us</span> <br> Our team would love to hear from you!</p>
        <form action="#" method="post" id="contact-us-form" onsubmit="return formValidate()">
            <label for="name">Full Name</label><br>
            <input type="text" name="fullname" id="full-name" autofocus required><br><br>
            <label for="email">E-mail</label><br>
            <input type="email" name="email" id="e-mail" required><br><br>
            <label for="Number">Phone Number</label><br>
            <input type="tel" id="phone" pattern="+[0-9]{3}[0-9]{3}-[0-9]{3}-[0-9]{4}" required><br><br>
            <label for="Message">Message</label><br>
            <textarea name="message" id="" cols="30" rows="10" required></textarea><br><br>
            <input type="submit" name="Send message" id="submitmessage" value="Send Message">
        </form>
        <div id="enquiries">
            <p>enquries@dsyne.co</p>
            <img src="./dsyne 2 white (3).png" alt="Dsynelogo" height="350px" width="100%">
        </div>
    </main>
    <footer>
            <div id="product">
                <p style="font-family: Candara; font-size: 2em;">Product</p>
                <p> <a href="#" class="flink"> Templates </a><br>
                    <a href="#" class="flink"> Build website </a><br>
                    <a href="#" class="flink">Features </a><br>
                    <a href="#" class="flink">Signup</a>
                </p>
            </div>
            <div id="company">
                <p style="font-family: Candara; font-size: 2em;">Company</p>
                <p><a href="#" class="flink"> About Dsyne </a><br>
                    <a href="#" class="flink"> Contact Us </a>
                </p>
            </div>
            <div id="support">
                <p style="font-family: Candara; font-size: 2em;">Support</p>
                <p> <a href="#" class="flink"> Support center </a><br>
                    <a href="#" class="flink"> Getting started </a><br>
                    <a href="#" class="flink"> Documentation </a><br>
                    <a href="#" class="flink"> FAQ </a>
                </p>
            </div>
            <div id="dsyne"><img src="./dsyne 2 TEXT LOGO.png" alt="logo" height="100px" width="100px" id="fimg">
                <p id="logotxt">
                    Dsyne is the leading website builder platform <br>
                    for all content creators, irrespective of language
                    <br> and geographical boundaries. <br> <br>2022 Dsyne.com
                <p class="socialicon">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                </p>
                </p>
            </div>
        </footer>
    <script src="./contact-us.js"></script>
</body>

</html>