:root {
    --background-color: #15171E;
    --color: #FFFFFF;

    --clr-content: rgba(31, 71, 68, 1);
    --Pastel-Turquoise: rgba(31, 71, 68, 1);
    --light-Pastel-Turquoise: rgba(5, 130, 142, 1);
    --lighter-pastel-Turquoise: rgba(41, 205, 201, 1);
    --lightest-pastel-Turquoise: rgba(71, 163, 156, 1);
    --toggle-lightmode: rgba(102, 252, 241, 1);
    --toggle-btn: rgba(42, 45, 60, 1);
    --white: rgba(255, 255, 255, 1);
    --bg-gray: #F3F3F3;
}

@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

@font-face {
    font-family: 'Inder', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
}

@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);

@font-face {
    font-family: "Candara";
    src: url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot");
    src: url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.woff") format("woff"), url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e662339992c4abf5b43f537391bd3169.svg#Candara") format("svg");
}


body {
    background-color: var(--bg-gray);
    color: var(--clr-content);
    border: 0;
    box-sizing: border-box;
    font-size: 15px !important;
    font-family: 'Inder', sans-serif;
}

main form {
    margin-top: 5%;
}

/* resets */
*,
*::before,
*::after {
    margin: 0;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* dark theme/light theme toggle */
.dark-mode {
    --clr-content: rgba(255, 255, 255, 1);
    --hero-section-paragraph: rgba(255, 255, 255, 1);
    --bg-gray: rgba(31, 34, 45, 1);
    --toggle-lightmode: rgba(198, 197, 201, 1);
}

/* STYLING OF THE NAV */
.logo {
    width: 7rem;
    height: 7rem;
}

.logo-container {
    position: relative;
}

.top-image {
    position: absolute;

}

/* .top-image:hover {
    opacity: 1;
} */

.nav-container {
    padding-inline: 3rem;
}

.nav-bar {
    background-color: var(--bg-gray);
    width: 100%;
    border-radius: 6px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-bar,
.nav-items,
.nav-buttons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.nav-links {
    color: var(--clr-content);
    font-size: 1.8rem;
    font-family: 'Inder', sans-serif;
}

.nav-links:hover {
    color: var(--lighter-pastel-Turquoise);
}

.btn {
    border: none;
    cursor: pointer;
    font-family: inder;
}

#drop-down {
    color: var(--clr-content);
    height: 3rem;
    width: 3rem;
    display: inline-flex;
}

#drop-btn {
    display: flex;
    gap: 0;
    align-items: center;
}

.login-btn {
    background-color: var(--Pastel-Turquoise);
    padding: 1rem 3rem;
    border-radius: 12px;
    color: var(--white);
    font-size: 1.5rem;
}

.login-btn:hover {
    background-color: var(--light-Pastel-Turquoise);
    color: var(--black);
}

.login-btn:active {
    background-color: var(--lighter-pastel-Turquoise);
}

.signup-btn {
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--black);
    font-size: 1.5rem;
    border-radius: 7px;
    border: 1px solid var(--Pastel-Turquoise);
}

.signup-btn:hover {
    color: var(--lighter-pastel-Turquoise);
}

.signup-btn:active {
    color: var(--lightest-pastel-Turquoise);
}

.color-switch {
    padding: 0 1rem;
    height: 3.2rem;
    width: 6.4rem;
    border-radius: 2rem;
    background-color: var(--toggle-lightmode);
    display: inline-block;
    position: relative;
}

.color-switch-toggle {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: var(--toggle-btn);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#input-color-switch {
    display: none;
}

#input-color-switch:checked~label .color-switch-toggle {
    transform: translateX(3em);
}

#menu,
.menu {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.8rem;
    margin-top: 1rem;
    color: var(--Pastel-Turquoise);
}

#menu.show {
    display: block;
}

.show {
    display: none;
}

.nav-bar ul li {
    position: relative;
}

.drop-menu {
    position: absolute;
    left: 8rem;
    top: 5rem;
    background-color: var(--white);
    padding: 1rem;
    width: 16rem;
    padding-right: 0;
    border-radius: 10px;

}

.drop-down-options {
    color: var(--light-pastel-Turquoise);
    font-size: 1.5rem;
    font-family: inder;
}

#drop-menu {
    display: none;
}

.drop-down-options:hover,
#drop-down:hover {
    color: var(--lighter-pastel-Turquoise);
}

.drop-menu ul li {
    margin: 1rem;
}

.drop-menu {
    font-size: 1.5rem;
    color: var(--Pastel-Turquoise);
    font-family: inder;
}

.hidden-for-mobile {
    display: none;
}

/* MEDIA QUERIES FOR the NAV */
@media screen and (min-width:1035px) {
    header {
        padding: 0 4rem;
        padding-top: 3rem;
        background: var(--bg-gray);
    }

    .hidden-for-desktop {
        display: none;
    }

    .logo {
        width: 10rem;
        height: 10rem;
    }

    .nav-bar,
    .nav-items,
    .nav-buttons {
        display: flex;
        flex-direction: row;
    }

    .nav-container {
        padding-inline: 4rem;
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .nav-bar {
        gap: 4rem;
    }

    .nav-items {
        gap: 4rem;
    }

    .hidden-for-mobile {
        display: block;
    }
}

@media screen and (min-width:1300px) {
    .nav-container {
        padding-inline: 12rem;
    }

    .nav-bar {
        gap: 7rem;
    }

    .nav-items,
    .nav-container {
        gap: 6rem;
    }
}

/* header ends */
div {
    padding: 0%;
    margin: 0;
    border: 0;
}

span {
    font-family: 'Candara';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;

}

main {
    margin-left: 10%;
}

label {
    margin-top: 5px;
}

input {
    border-radius: 5px;
    border-style: none;
    height: 40px;
    width: 300px;
    left: 0px;
    top: 38px;
    border-radius: 5px;
    padding: 10px, 10px, 10px, 20px;

}

#submitmessage {
    /* width: 20%; */
    height: 60px;
    width: 447px;
    left: 189px;
    top: 960px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF !important;
    font-family: 'Inder', sans-serif;
}

textarea {
    resize: none;
    height: 180px;
    width: 447px;
    left: 189px;
    top: 740px;
    border-radius: 10px;
    border-style: none;
}

#enquiries {
    position: absolute;
    right: 15%;
    top: 60%;
}

#enquiries p {
    position: absolute;
    top: -1%;
    right: 55%;
}

/* Footer styling goes here */

footer {
    padding: 0%;
    margin-top: 10%;
    border: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;
    position: sticky;
    font-family: 'Inder', sans-serif;
}

#fimg {
    padding: 0%;
    margin: 0;
    border: 0;
    vertical-align: bottom;
    position: relative;
    bottom: 29px;
    left: -7px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 0px 0px 15px;
    border-radius: 5px;
    color: black;
    background-color: white;
}

.fa:hover {
    opacity: 0.7;
}

/* note that styles bearing flink, i used black for yo to see it, you can change to suit your design 
and the icons too. ie .fa*/
.flink:link {
    text-decoration: none;
    color: var(--clr-content);
}

.flink:visited {
    color: var(--clr-content);
}

#dsyne {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
}

#logotxt {
    padding: 0%;
    margin-top: 0%;
    border: 0;
    position: relative;
    top: -25%;
}

.socialicon {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
    top: -25%;

}

/* Media queries for footer */
@media screen and (max-width:750px) {
    footer {
        margin-top: 10%;
        margin-left: 10%;
        flex-direction: column;
        position: sticky;
    }

    .socialicon {
        flex-direction: row;
        justify-content: unset;
    }

    #fimg {
        bottom: 0px;
    }

    .fa {
        margin: 5px 10px 10px 0px;
    }

    footer p {
        margin: 10px 10px 10px 0px;
    }

}

@media screen and (max-width:1200px) {
    #enquiries {
        display: none;
    }

}

@media screen and (min-width:1440px) {
    #enquiries {
        display: none;
    }
}

@media screen and (max-width:445px) {

    main,
    footer {
        margin-left: 5%;
    }

    span {
        font-weight: 400;
        font-size: 34px;
        /* line-height: 78px; */
    }

    input {

        height: 20px;
        width: 150px;
        left: 0px;
        top: 38px;
        border-radius: 5px;
        padding: 10px, 10px, 10px, 10px;
    }

    textarea {
        height: 100px;
        width: 247px;
        /* left: 159px;
    top: 440px; */
        border-radius: 10px
    }

    #submitmessage {
        width: 247px;
        height: 40px;
        border-radius: 10px;
        padding: 10px, 10px, 10px, 15px;
    }

    main,
    footer {
        font-size: 12px;
    }
}