<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentation</title>
    <link rel="stylesheet" href="documentation.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
    <style>@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara);</style>

  </head>
  <body>
    <header class="nav-container">
      <a href="index.html" class="logo-container">
        <img src="documentation-images/clr-logo.svg" alt="logo" class="logo top-image">
        <img src="documentation-images/logo.svg" alt="logo" class="logo">
      </a>
      <nav class="nav-bar" id="nav-links">
        <ul class="nav-items">
          <li><a class="nav-links hidden-for-mobile" href="templates.html">Templates</a></li>
          <li id="select-field" class="hidden-for-mobile">
            <a class="nav-links" id="drop-btn" href="#/">Build website <span id="drop-down" data-icon="ic:baseline-arrow-drop-down" class="iconify"></span></a>
            <div class="drop-menu" id="drop-menu">
                <p>Choose a template</p>
                <ul id="drop-list">
                    <li><a class="drop-down-options"href="../Blog/Index.html">Blog</a></li>
                    <li><a class="drop-down-options"href="ecom.html">Ecommerce</a></li>
                    <li><a class="drop-down-options"href="../Portfolio/index.html">Portfolio</a></li>
                </ul>
            </div>
          </li>
          <li><a class="nav-links" href="contact-us.html">Contact us</a></li>
        </ul>
        <!-- toggle button for switchind theme goes here -->
        <div class="wrapper-color-switch">
          <input type="checkbox" id="input-color-switch" />
          <label for="input-color-switch" class="color-switch">
            <div class="color-switch-toggle"></div>
          </label>
        </div>
        <!-- toggle button for switchind theme ends here -->
        <div class="nav-buttons">
          <button class="login-btn  primary-btn">Log In</button>
          <button class="secondary-btn  signup-btn">Get Started</button>
        </div>
      </nav>
      <a href="#/" class="hidden-for-desktop menu-hamburger menu" id="menu"><span class="iconify menu" data-icon="charm:menu-hamburger"></span></a>
    </header>

<hr>

  <div class="container second-header d-flex justify-content-between">

    <div class="header-content-left d-flex">
      <div><img class="header-icon-1" src="/img/Vector.png" alt=""> <img class="header-icon" src="/img/Vector (2).png" alt=""></div>
      <div><p class="header-text">Documentation</p></div>
    </div>

    <div class="header-content-right align-self-center">
      <input class="bg-dark" type="text" placeholder="&#xF002;        Search the docs" style="font-family: Arial, 'Font Awesome 5 Free'" />
    </div>

  </div>
 
 <hr>



  <div class="d-flex page-padding">
    <div class="wrapper">
      <div class="sidebar">
        <ul>
          <li>
            <label for="Getting Started"></label>
              <select name="text" id="">
                <option value="" disabled selected>Getting Started</option>
                <option value="hh">How to begin</option>
                <option value="hh">Creating account</option>
                <option value="hh">How to open an existing project</option>
                <option value="">Contacting customer care</option>
              </select>
          </li>

          <li>
            <label for="Getting Started"></label>
              <select name="text" id="">
                <option value="hh" disabled selected>DSYNE Editor</option>
                <option value="hh">About your DSYNE editor</option>
                <option value="hh">Selecting a template</option>
              </select>
          </li>

          <li>
            <label for="Getting Started"></label>
              <select name="text" id="">
                <option value="hh" disabled selected>Managing Your Site</option>
                <option value="hh">Using your site dashboard</option>
                <option value="hh">About your DSYNE dashboard</option>
              </select>
          </li>

          <li>
            <label for="Getting Started"></label>
              <select name="text" id="">
                <option value="hh" disabled selected><a href=""> Themes & Account</option>
                <option value="hh">Create an account</option>
                <option value="hh">Change account password</option>
                <option value="hh">Selecting a theme</option>
              </select>
          </li>
        </ul>
      </div>
    </div>
  
    <div class="main-page">
      <h1>How to begin</h1>
      <p>You are in the right place to create your professional website We are here to help you create the type of website you want. <br>
      You can begin by signing up and choosing from our list of available templates. </p>
      <br><br>

      <h1>Creating account</h1>
      <p>To create an account after sucessfully launching DSYNE website, you have the options to sign up if you do not have an account.<br> 
        You can sign up using your facebook, google or apple account. <br><br>
        
        Another option to creating a new account is by using your email.</p> <br>
        <ul>
          <li>Enter your email address in the “add email here” field.</li>
          <li>Enter your preferred password in the password field.</li>
          <li>Confirm your password and make sure it is same as the one in the password field and click on sign up.</li>
        </ul>

        <p>A notification will be sent to your registered email address. You can now log in to your account.</p>
        <br><br>

        <h1>How to open an existing project</h1>
        <p>To open an existing project in DSYNE. Either:</p>
          <ul>
            <li>Log in to your registered account</li>
            <li>Navigate to your dashnoard</li>
            <li>If you have an existing project, you will be able to view them at the top row of your screen</li>
          </ul>
          <br><br>

        <h1>Contacting customer care</h1>
        <ul>
          <li><a href="faq.html">Check out FAQ Page for answers to some of the questions you might have</a></li>
          <li><a href="support.html">Need further clarifications, then reach out to us support@dsyne.</a> </li>
        </ul>
        <br><br>

        <h1>About your DSYNE dashboard</h1>
        <p>DSYNE Dashboard was allows you have control to what you want. Below are some of the details to what you can do on the dashboard as an autheticated user.</p>
        <ul>
          <li>Get analytics on visitors visiting your website</li>
          <li>Identify traffic channels generating leads for your website</li>
          <li>An Audit trail that lets you see last activities performed</li>
          <li>A site performance montitor</li>
          <li>View and edit the design of your website</li>
          <li>Manage your profile</li>
        </ul>
        <br><br>

        <h1>About your DSYNE editor</h1>
        <p>DSYNE Editor is a WYSWYG editot with an easy to use interface to allow users interface witht the editor freely. Some of the basci DSYNE editor features are</p>
        <ul>
          <li>Ability to add sections to your pages</li>
          <li>Ability edit a template to your what you want.</li>
        </ul>
        <br><br>

        <h1>Selecting a template</h1>
        <p>DSYNE comes with prebuilt templates customized to meet your website design needs. We have three broad categories of template you can choose from such as</p>
        <ul>
          <li>Portfolio</li>
          <li>Ecommerce</li>
          <li>Blog</li>
        </ul>
        <p>After choosing a category, you can select from the theme options availvable to that better meet your needs</p>
        <br><br>

        <h1>Changing account password</h1>
        <p>There are two ways users can change password on DSYNE Platform</p> 
        <ul>
          <li>Forgot Password</li>
          <ul>
            <li>For users in this category, locate the forgot passoword button on the Log in Page and click to be redirected to a forgot password page</li>
            <li>Input the email you used in opening your account and click on Reset Password button to get a link via your email</li>
            <li>Clikc the link sent to your email to set a new password</li>
          </ul>
        </ul>
        <ul>
          <li>Periodic  change of password</li>
          <ul>
            <li>Users who wish to change their password can do this by going to their profile settings</li>
            <li>Click on change Password</li>
            <li>Enter your old password</li>
            <li>Enter your new passsword and save.</li>
          </ul>
        </ul>
        <br><br>

        <h1>How to select a theme</h1>
        <p>DSYNE comes with prebuilt templates customized to meet your website design needs. We have three broad categories of template you can choose from such as</p>
        <ul>
          <li>Portfolio</li>
          <li>Ecommerce</li>
          <li>Blog</li>
        </ul>
        <p>After choosing a category, you can select from the theme options availvable to that better meet your needs</p>
        <br><br>

        <h1>How to create a blog website</h1>
        <p>To create a blog website on DYSNE, click on template on the landing page. You will be directed to the template page. Select blog and browse through the available blog templates and edit to your preference.</p>
        <br><br>

        <h1>How to create a portfolio website</h1>
        <p>To create a portfolio website on DYSNE, click on template on the landing page. You will be directed to the template page. Select portfolio and browse through the available portfolio templates and edit to your preference.</p>
        <br><br>

        <h1>How to create an e-commerce website</h1>
        <p>To create an e-commerce website on DYSNE, click on template on the landing page. You will be directed to the template page. Select e-commerce and browse through the available e-commerce templates and edit to your preference.</p>
    </div>
  </div>

  <div class="footer  page-padding px-5 py-5 ">
    <div class="footer-content row container">
        <div class="col-lg col-md-4 col-sm-4"> 
           <p class="product">Product</p>
            <p class="footer-link"><a href="templates.html">Templates</a><br> <a href="">Build Websites</a><br> <a href="dashboard.html">Dashboard</a><br> <a href="">Features</a><br> <a href="signup.html">Sign Up</a></p>
        </div>

        <div class="col-lg col-md-4 col-sm-4">
            <p class="company text-sm-right">Company</p>
            <p class="footer-link"><a href="about-dsyne">About DSYNE</a><br> <a href="../Core/Dsyne-contact-us-page/contact-us.html">Contact Us</a></p>
        </div>

        <div class="col-lg col-md-4 col-sm-4">
            <p class="support">Support</p>
            <p class="footer-link"><a href="support.html">Support Centre</a><br> <a href="getting-started.html">Getting Started</a><br> <a href="documentation.html">Documentation</a><br> <a href="">FAQ</a></p>

        </div>

        <div class="footer-end col-lg col-md-4 col-sm">
            <img src="documentation-images/dsyne 2 TEXT LOGO.png" alt="">
            <p class="logo-text">Dsyne is the leading website builder platform for all content creators, irrespective of language and geographical boundaries. <br>2022 Dsyne.com <br>
                <a href="#"><span class="iconify" data-icon="ant-design:facebook-filled"></span></a>
                <a href="#"><span class="iconify" data-icon="akar-icons:linkedin-box-fill"></span></a>
                <a href="#"><span class="iconify" data-icon="ant-design:instagram-filled"></span></a>
                <a href="#"><span class="iconify" data-icon="akar-icons:twitter-fill"></span></a>  
            </p> 
        </div>

    </div>
</div>





  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <!-- ICONIFY FRAMEWORK -->
  <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  <script src="documentation.js"></script>
</body>
</html>