<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/login.css">
    <title>Login</title>
</head>
<body>
    <head></head>

    <body>


        <div class="container">

            <form action="" class="container-form">

                <h2>Login to your account</h2>
                <div>
                    <div class="form-login">
                        <label for="user-email">
                            Email Address
                            <input type="email" name="email" id="user-email" placeholder="Jamesbrown@gmail.com">
                        </label>
                        <label for="user-password">
                            Password
                            <input type="password" name="password" id="user-password">
                            <small>
                                <a href="#">Forgot Password?</a>
                            </small>
                        </label>
                    </div>

                    <div class="form-login-links">
                        <button>
                            Login with facebook
                        </button>
                        <button>
                            Login with Google
                        </button>
                        <button>
                            Login with Apple
                        </button>
                    </div>
                </div>

                <button type="submit" class="btn">Login</button>

                <small>
                    Don't have an account?
                    <a href="#">Sign up</a>
                </small>

            </form>

        </div>


    </body>
</body>
</html>