<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/form.css">
    <title>Signup</title>
</head>
<body>
    <header class="nav-container">
        <div>
            <a href="index.html" class="logo-container">
                <img src="./assets/clr-logo.svg" alt="logo" class="logo top-image">
                <img src="./assets/logo.svg" alt="logo" class="logo">
            </a>
            <nav class="nav-bar" id="nav-links">
              <ul class="nav-items">
                    <li><a class="nav-links hidden-for-mobile" href="templates.html">Templates</a></li>
                    <li id="select-field" class="hidden-for-mobile">
                        <a class="nav-links" id="drop-btn" href="#/">Build Website <span id="drop-down" data-icon="ic:baseline-arrow-drop-down" class="iconify"></span></a>
                        <div class="drop-menu" id="drop-menu">
                            <p>Choose a template</p>
                            <ul id="drop-list">
                                <li><a class="drop-down-options"href="blog.html">Blog</a></li>
                                <li><a class="drop-down-options"href="ecom.html">Ecommerce</a></li>
                                <li><a class="drop-down-options"href="Portfolio.html">Portfolio</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a class="nav-links" href="contact us.html">Contact us</a></li>
              </ul>
              <!-- toggle button for switchind theme goes here -->
              <div class="wrapper-color-switch">
                <input type="checkbox" id="input-color-switch" />
                <label for="input-color-switch" class="color-switch">
                  <div class="color-switch-toggle"></div>
                </label>
              </div>
              <!-- toggle button for switchind theme ends here -->
              <div class="nav-buttons">
                <button class="login-btn btn primary-btn" href="login.html">Log In</button>
                <button class="secondary-btn btn signup-btn" href="signup.html">Get Started</button>
              </div>
            </nav>
            <a href="#/" class="hidden-for-desktop menu-hamburger menu" id="menu"><span class="iconify menu" data-icon="charm:menu-hamburger"></span></a>
        </div>
    </header>
    



    <main >

        <div class="container" id="forgotten-password">

            <form action="" class="container-form">

                <h1>Forgot Password</h1>
    
                <p>Please enter the email address associate with the account</p>
    
                <input type="email" id="user-email" placeholder="Your e-mail address here" required>
    
                <button type="submit" class="btn">Reset Password</button>
    
                <p>
                    Already have an Account?
                    <a href="login.html">Log In</a>
                </p>
    
            </form>
        </div>

    </main>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="./scripts/index.js"></script>
</body>
</html>