<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/form.css">
    <title>Signup</title>
</head>
<body>
    <head></head>

    <body>


        <div class="container">

            <form action="" class="container-form">

                <h1>Let's get started</h1>
                <div class="signup">
                    <div class="register">
                        <div>
                            <label for="user-email">Email Address</label>
                            <input type="email" name="email" id="user-email" placeholder="Add email here" required>
                        </div>
                        <div>
                            <label for="user-password">Password</label>
                            <input type="password" name="password" id="user-password" required>
                        </div>
                        <div>
                            <label for="user-password">Confirm password</label>
                            <input type="password" name="password" id="user-password" required>
                        </div>
                    </div>

                    <hr>

                    <div class="register register-1">
                        <input type="button" value="Sign up with facebook" id="facebook">
                        <input type="button" value="Sign up with Google" id="google">
                        <input type="button" value="Sign up with Apple" id="apple">
                    </div>
                </div>
                
                <p>By signing up, you agree to our Terms of Service and Privacy Policy</p>

                <button type="submit" class="btn">Sign up</button>

                <p>
                    Already have an Account?
                    <a href="login.html">Log In</a>
                </p>

            </form>

        </div>


    </body>
</body>
</html>