<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dsyne</title>
    <link rel="stylesheet" href="support.css" />
    <style>@import url(//db.onlinewebfonts.com/c/e662339992c4abf5b43f537391bd3169?family=Candara); </style>
  </head>
  <body>
    <header class="nav-container">
      <a href="index.html" class="logo-container">
        <img src="./support-images/clr-logo.svg" alt="logo" class="logo top-image">
        <img src="./support-images/clr-logo.svg" alt="logo" class="logo">
      </a>
      <nav class="nav-bar" id="nav-links">
        <ul class="nav-items">
          <li><a class="nav-links hidden-for-mobile" href="templates.html">Templates</a></li>
          <li id="select-field" class="hidden-for-mobile">
            <a class="nav-links" id="drop-btn" href="#/">Build website <span id="drop-down" data-icon="ic:baseline-arrow-drop-down" class="iconify"></span></a>
            <div class="drop-menu" id="drop-menu">
                <p>Choose a template</p>
                <ul id="drop-list">
                    <li><a class="drop-down-options"href="blog.html">Blog</a></li>
                    <li><a class="drop-down-options"href="ecom.html">Ecommerce</a></li>
                    <li><a class="drop-down-options"href="Portfolio.html">Portfolio</a></li>
                </ul>
            </div>
          </li>
          <li><a class="nav-links" href="contact us.html">Contact us</a></li>
        </ul>
        <!-- toggle button for switchind theme goes here -->
        <div class="wrapper-color-switch">
          <input type="checkbox" id="input-color-switch" />
          <label for="input-color-switch" class="color-switch">
            <div class="color-switch-toggle"></div>
          </label>
        </div>
        <!-- toggle button for switchind theme ends here -->
        <div class="nav-buttons">
        <a href="login.html">  <button class="login-btn btn primary-btn">Log In</button></a>
         <a href="sign-up.html"><button class="secondary-btn btn signup-btn">Get Started</button></a>
        </div>
      </nav>
      <a href="#/" class="hidden-for-desktop menu-hamburger menu" id="menu"><span class="iconify menu" data-icon="charm:menu-hamburger"></span></a>
    </header>
    <div class="sec-2 ">
        <div> <img src="./support-images/mock-up.png" class="img-thumbnail" alt="image" style="margin-left:70px;margin-top: 50px;"> </div>
         <div class="dys-1" style="margin-right:60px ;margin-top:30px;"><p class="help-c " style="font-size:40px; font-family: candara; font-weight:700;">DYSNE Help Centre</p>
         <p class="p-one"style="font-family:inder ;font-size: 20px; font-weight: 400;">Ask questions. Browse Articles. Find Answers </p>
         <p id="search">
          <button class="search-1" type="submit"><img style="height:14px; margin-right: none;"src="./support-images/search-vector.png" alt="search" ></button>
            <input type="text" name="search-button" id="search-btn" style="padding:3px;padding-top:3px; margin-left: 0; border-left: none;" placeholder="what can we assist with?">
          
          </p>
         </div>
     </div>
     <div class="gtn-1 " >
         <div class="gtn-a">
          <a href="documentation.html/#Getting Started"><h5 style="font-family:candara ;font-size: 36px; margin-bottom: 20px;">Getting Started</h5></a>
         
         
        <a href="documentation.html/#How to begin"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  How to begin</p></a>
          <a href="documentation.html/#Creating account"> <p class="p-one"style="font-family:inder ;font-size: 24px;">>  Creating account</p></a>
            <a href="documentation.html/#How to open an existing project"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  How to open an existing project</p></a>
            <a href="documentation.html/#contacting Customer Care"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  Contacting Customer Care</p></a>
         
         </div>
             <div class="gtn-b ">
              <a href="documentation.html/#DYSNE Editor"><h5 style="font-family:candara;font-size: 36px;margin-bottom: 20px;"> DYSNE Editor</h5></a>
             
              <a href="About Dysne editor"><p class="p-one"style="font-family:inder ;font-size: 24px">>  About DYSNE editor</p></a>
                <a href="documentation.html/#Selecting a template"><p class="p-one"style="font-family:inder ;font-size: 24px">>  Selecting a template</p></a>
             </div> 
            </p> 
                 
     </div>
     <div class="gtn-2  ">
         <div class="gtn-c ">
          <a href="documentation.html/#Managing your sites"><h5 style="font-family:candara;font-size: 36px;margin-bottom: 20px;">Managing your site</h5></a>
         
            <a href="documentation.html/#Using your site dashboard"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  Using your site dashboard</p></a>
              <a href="documentation.html/#About DYSNE dashboard"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  About DYSNE dashboard</p></a>
        
         </div>
             <div class="gtn-d " >
              <a href="documentation.html/#Themes & Account"><h5 style="font-family:candara; font-size: 36px;margin-bottom: 20px;">Themes & Account</h5></a>
                <a href="documentation.html/#Creating Account"><p class="p-one" style="font-family:inder ;font-size: 24px;">>  Creating Account</p></a>
                  <a href="documentation.html/#changing account password"><p class="p-one"style="font-family:inder ;font-size: 24px;">>  Changing account password</p></a>
                    <a href="documentation.html/#How to select theme"><p class="p-one" style="font-family:inder ;font-size: 24px;">>  How to select theme</p></a>
             </div>      
     </div>
     </main>
     <footer class="ftn-1">
     <h6 class="header-5"style="font-family:candara; font-weight:700; font-size:40px;">Register/Sign in</h5>
     <p class="p-one" id="ftn-2"style="font-weight:400;font-family:candara; font-style: normal;font-size: 24px;margin-top: 30px;">DYSNE website is free for both personal and business use.</p>
     <p class="p-one"id="ftn-3"style="font-family:candara; font-weight:400; font-size: 24px;font-style:normal" >Sign up to build your website or that of your client with our list of available templates</p>
     <div class="nav-buttons" style="margin-top:40px ;">
      <a href="sign-up.html.html"><button class="login-btn btn primary-btn"style="border-radius:10px; font-weight: 400;font-size: 18px; font-family:work sans;">Get Started</button></a>
      <a href="login.html"><button class="secondary-btn btn signup-btn"style="border-radius:10px;font-weight: 400;font-size: 18px; font-family:work sans; " >Login</button></a>
     </div>
    <p class="p-one"style="font-size: 24px; font-family:inder; margin-top: 200px;">@ Copyright (c) 2022 DYSNE</p></footer>
    </div>
</main>
    <!-- ICONIFY FRAMEWORK -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- ICONIFY FRAMEWORK -->
    <script src="support.js"></script>
  </body>
</html>