/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
@font-face {
    font-family: 'Candara';
    src: url(../assets/Candara\ Font.ttf);
    font-display: swap;
}

body *{
    font-family: 'Work Sans', sans-serif;
}
h1{
    font-family: 'Candara';
}
body{
    background: url(../assets/Frame\ 1.png);
    background-color: var(--bg-color-2);
    min-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    animation: themove 8s infinite 160ms ease-in-out;
}
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: transparent;
}


/* NAVBAR */
/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
ul *{
list-style: none;
}
:root{
    --clr-content:  rgba(31, 71, 68, 1);
    --Pastel-Turquoise:  rgba(31, 71, 68, 1);
    --light-Pastel-Turquoise: rgba(5, 130, 142, 1); 
    --lighter-pastel-Turquoise: rgba(41, 205, 201, 1);
    --lightest-pastel-Turquoise: rgba(71, 163, 156, 1);
    --toggle-lightmode:rgba(102, 252, 241, 1);
    --toggle-btn: rgba(42, 45, 60, 1);
    --white:rgba(255, 255, 255, 1);
    --container-bg: #C6C5C9;
    --container-bg-2: #C6C5C9;
    --text-color: #000000;
    --bg-gray: #F3F3F3;
    --bg-color: #F3F3F3;
    --bg-color-2: #FFFFFF;
}
/* dark theme/light theme toggle */
.dark-mode{
    --clr-content:  rgba(255, 255, 255, 1);
    --hero-section-paragraph: rgba(255, 255, 255, 1);
    --bg-gray: rgba(31, 34, 45, 1);
    --bg-color: #1F4774;
    --bg-color-2: #000000;
    --container-bg: #15171E;
    --text-color: #FFFFFF;
    --toggle-lightmode:#C6C5C9;
}
  /* STYLING OF THE NAV */
.logo{
    width: 120px;
    height: 90px;
    align-self: center;
}
.top-image{
    height: 90px;
    position:  absolute;
    opacity: 0;
}
.top-image:hover{
opacity: 1;
}
.nav-bar{
width: 100%;
border-radius: 6px;
}
.nav-items a{
    color: var(--text-color);
}
.nav-items{
    padding: 0;
}
.nav-bar, .nav-items, .nav-buttons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.nav-links{
    color: black;
    font-family: 'Inder', sans-serif;
}
.nav-links:hover{
    color: var(--lighter-pastel-Turquoise);
}
.nav-buttons .btn{
    height: 30px;
    width: 100px;
    border: none;
    cursor: pointer;
    font-family: 'Inder';
}
.login-btn{
    background-color: #2F6A66;
    border-radius: 12px; 
    color: var(--white);
}
.login-btn:hover{
    background-color: var(--light-Pastel-Turquoise);
    color: var(--black);
}
.login-btn:active{
    background-color: var(--lighter-pastel-Turquoise);
}
.signup-btn{
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    border-radius: 7px;
    border: 1px solid var(--Pastel-Turquoise);
}
.signup-btn:hover{
    color: var(--lighter-pastel-Turquoise);
}
.signup-btn:active{
    color: var(--lightest-pastel-Turquoise);
}
.color-switch{
    height: 23px;
    width: 40px;
    border-radius: 30px;
    background-color: var(--toggle-lightmode);
    display: inline-block;
    position: relative;
}
.color-switch-toggle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 2px;
    background-color: var(--toggle-btn);
    cursor: pointer;
    transition: all 250ms ease-in-out;
}
#input-color-switch{
    display: none;
}
#input-color-switch:checked ~ label .color-switch-toggle{
    transform: translateX(20px);
}
#menu,
.menu{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0;
    margin-right: 1.8rem;
    margin-top: 1rem;
    color: var(--Pastel-Turquoise);
}
#menu.show{
    display: block;
}
.show{
    display: none;
}
#select-field{
    position: relative;
}
#drop-btn{
    display: flex;
    gap: 0;
    align-items: center;
}
.drop-menu{
    position: absolute;
    left: 70px;
    top: 20px;
    background-color: var(--white);
    padding: 5px;
    width: 160px;
    padding-right: 0;
    border-radius: 10px;
    font-size: 15px;
    color: var(--Pastel-Turquoise);
    font-family: 'inder';
}
.drop-down-options{
    color: var(--light-pastel-Turquoise);
    font-size: 13px;
    font-family: inder;
}
#drop-menu{
    display: none;
}
.drop-down-options:hover,
#drop-down:hover{
    color: var(--lighter-pastel-Turquoise);
}
.drop-menu ul li{
    margin: 4px;
}
#drop-list{
    padding: 0;
}
#drop-list a{
    color: #000000;
}
#drop-list a:hover{
    color: var(--lighter-pastel-Turquoise);
}
.hidden-for-mobile{
    display: none;
}

/* MEDIA QUERIES FOR the NAV */
@media screen and (min-width:800px){
    .hidden-for-desktop{
        display: none;
    }
    .nav-container > div{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: transparent;
        height: 70px;
        width: 80%;
        margin-bottom: 25px;
    }
    .nav-bar, .nav-items, .nav-buttons{
        display: flex;
        flex-direction: row;
        padding: 0;
    }
    .nav-container{
        display: flex;
        align-items: center;
    }
      .hidden-for-mobile{
        display: block;
    }
}

/* NAVBAR */



/* background animation */
@keyframes themove {
    50%{
        background-image: url(../assets/Frame\ 1.png);
    }
    80%{
        background-image: url(../assets/Frame\ 2.png);
    }
    100%{
        background-image: url(../assets/Frame\ 3.png);
    }
}
/* background animation */


a{
    text-decoration: none;
}
.container{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form a{
    color: #47A39C
}
span{
    padding-left: 10px;
}



/* form styles */
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--container-bg);
    width: 900px;
    height: 550px;
}
.container-form h1{
    font-size: 50px;
    font-weight: 200;
    margin: 10px;
}
.container-form h1, .container-form p, .container-form label{
    color: var(--text-color);
}
.row, .signup{
    display: flex;
    justify-content: space-evenly;
    width: 700px;
}
.login, .register{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* form styles */




/* Input field Styles */
.login div, .register div{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 70px;
}
div label{
    height: 30px;
}
.register-1{
    position: relative;
    top: 12px;
}
.login small{
    align-self: flex-end;
}
.login small a{
    color: #78767F;
}
.login div input, .register div input{
    display: flex;
    background: #F9FCFF;
    width: 300px;
    height: 30px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
}

/* Input field Styles */




/* Hidden icon displayed in input */
.login span, .register span{
    background-image: url(../assets/password-hidden-icon.svg);
    background-repeat: no-repeat;
    position: relative;
    top: -25px;
    left: 260px;
    height: 43px;
    width: 30px;
}
.login span:hover, .register span:hover{
    cursor: pointer;
}
/* Hidden icon displayed in input */



/* Links styling */
.login input[type=button], .register input[type=button]{
    background-repeat: no-repeat;
    background-color: #F9FCFF;
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
}
.login input[type=button]:hover, .register input[type=button]:hover{
    color: rgb(60, 213, 255);
    box-shadow: 0px 0px 7px -1px rgba(31,34,45,0.75)
}
.login #facebook, .register #facebook{
    background-position: 33px 8px;
    background-image: url(../assets/facebook-icon.svg);
}
.login #google, .register #google{
    background-position: 38px 8px;
    background-image: url(../assets/google-icon.svg);
}
.login #apple, .register #apple{
    background-position: 45px 6px;
    background-image: url(../assets/apple-icon.svg);
}
/* Links styling */




/* vertical line styling */
.row hr, .signup hr{
    background: black;
    width: 1px;
}
.row hr{
    height: 190px;
}
.signup hr{
    height: 250px;
}
/* vertical line styling */


/* Password Retrieval */
#forgotten-password h1, #forgotten p{
    font-family: 'Inder';
}
#forgotten-password h1{
    color: #2F6A66;
    font-size: 65px;
    margin: 0;
    font-weight: 100;
    line-height: 100px;
}

#forgotten-password p{
    font-size: 20px;
}
#forgotten-password input{
    font-family: 'Work Sans';
    width: 350px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    text-align: center;
}
#forgotten-password .btn{
    font-family: 'Work Sans';
}
#forgotten-password a{
    color: #1F4744;
}
/* Password Retrieval */



.container-form .btn{
    background: #2F6A66;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    width: 167px;
    height: 50px;
}
.container-form .btn:hover{
    background-color: #377b76;
    color: black;
    box-shadow: 0px 0px 10px -1px rgba(31,34,45,0.75)
}


/* Media queries */
@media (max-width: 980px){
    .container-form{
        width: 750px;
    }
    .login div input, .register div input{
        width: 260px;
    }
    .login input[type=button], .register input[type=button]{
        width: 260px;
    }
    .login span, .register span{
        top: -25px;
        left: 220px;
    }
}
/* Media queries */