<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- NAVBAR HTML START-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid page-padding">
          <a class="navbar-brand" href="#">Lifestyle blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="my-blog.html">My blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="About.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <!-- NAVBAR HTML END -->


    <main class=" mt-5 px-4 pt-1">
        <div class="first-image container-fluid page-padding mt-5">
                <img src="img/Frame 39.png" alt="">
        </div>

        <div class="showcase d-flex flex-column container-fluid page-padding mt-5 px-4 pt-1">
            <div class="showcase d-flex justify-content-end">
                <div class="showcase-image align-self-stretch border border-dark">
                    <img src="img/Frame 49.png" alt="">
                </div>
                <div class="showcase-text border border-dark align-self-stretch align-self-center">
                    <h2 class="text-center">Transform your winter <br> blues into winter <br> creativity.</h2>
                    <p class="text-center">Create a blog post subtitle that <br> summarizes your post in a few <br> short, punchy sentences and <br> entices your audience to</p>
                </div>
            </div>


            <div class="showcase d-flex justify-content-start">
                <div class="showcase-image align-self-stretch border border-dark">
                    <img src="img/Frame 51.png" alt="">
                </div>
                <div class="showcase-text border border-dark align-self-stretch align-self-center">
                    <h2 class="text-center">Transform your winter <br> blues into winter <br> creativity.</h2>
                    <p class="text-center">Create a blog post subtitle that <br> summarizes your post in a few <br> short, punchy sentences and <br> entices your audience to</p>
                </div>
            </div>


            <div class="showcase d-flex justify-content-end">
                <div class="showcase-image align-self-stretch border border-dark">
                    <img src="img/Frame 50.png" alt="">
                </div>
                <div class="showcase-text border border-dark align-self-stretch align-self-center">
                    <h2 class="text-center">Transform your winter <br> blues into winter <br> creativity.</h2>
                    <p class="text-center">Create a blog post subtitle that <br> summarizes your post in a few <br> short, punchy sentences and <br> entices your audience to</p>
                </div>
            </div>
        </div>
    </main>



    <!-- FOOTER HTML START -->
    <div class=" footer-area mt-5 ">
        <div class="footer-content  mt-5 ">

            <div class="footer-icons d-flex justify-content-center p-4">
                <div class="d-flex footer-icons-width gap-3">
                    <div class="icons d-flex gap-2 justify-content-center">
                        <div class=""><span class="iconify" data-icon="eva:facebook-outline" data-width="30" data-height="28"></span>
                        </div>
                        <p class="icon-text"><a href="#" class="icon-link">Facebook</a></p>
                       
                    </div>
    
                    <div class="icons d-flex gap-2 justify-content-center">
                        <div class=""><span class="iconify" data-icon="icon-park-outline:twitter" data-width="28" data-height="28"></span>
                        </div>
                        <p class="icon-text"><a href="#" class="icon-link">Twitter</a></p>
                    </div>
    
                    <div class="icons d-flex gap-2 justify-content-center">
                        <div class=""><span class="iconify" data-icon="fa:instagram" data-width="30" data-height="28"></span>
                        </div>
                        <p class="icon-text"><a href="#" class="icon-link">Instagram</a></p>
                    </div>
    
                    <div class="icons d-flex gap-2 justify-content-center">
                        <div class=""><span class="iconify" data-icon="lucide:linkedin" data-width="30" data-height="28"></span>
                        </div>
                        <p class="icon-text"><a href="#" class="icon-link">LinkedIn</a></p>
                    </div>
                </div>
            </div>


            <div class="footer-images d-flex">
                <div class="image"><img src="img/Frame 48 (1).png" alt=""></div>
                <div class="image"><img src="img/Frame 49.png" alt=""></div>
                <div class="image"><img src="img/Frame 50.png" alt=""></div>
                <div class="image"><img src="img/Frame 51.png" alt=""></div>
            </div>
            <br><br>
            <h3 class="text-center footer-text">Share your thoughts</h3>
            <form class="footer-form d-flex flex-column p-4  align-items-center" action="" method="get">
                <div>
                    <label class="label-size" for="name">Full Name</label>
                    <input class="footer-input border-bottom" type="text" name="name" required>
                </div>
<br>
                <div>
                    <label class="label-size" for="email">Email</label>
                    <input class="footer-input border-bottom" type="email" name="email" required>
                </div>
<br>
                <div class="mb-5">
                    <label class="label-size" for="comment">Comment</label>
                    <input class="footer-input border-bottom" type="text" name="comment" required>
                </div>


                    <button class="btn button px-4 py-3 mt-3 shadow rounded">Submit</button>
            </form>
        </div>
    </div>
    <!-- FOOTER HTML END -->

    
<!-- Iconify SVG framework -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>