@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

/* /////////////resets////////// */
@font-face {
    font-family: 'Candara';
    src: url('Candara.woff2') format('woff2'),
        url('Candara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Inder', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  /* overflow: hidden; */
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  background-size: cover;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}
:root{
    --clr-content:  rgba(31, 71, 68, 1);
    --hero-section-paragraph: #15171E;
    --Pastel-Turquoise:  rgba(31, 71, 68, 1);
    --light-Pastel-Turquoise: rgba(5, 130, 142, 1); 
    --lighter-pastel-Turquoise: rgba(41, 205, 201, 1);
    --lightest-pastel-Turquoise: rgba(71, 163, 156, 1);
    --second-section-CTA: rgba(71, 163, 156, 1);
    --toggle-lightmode:rgba(102, 252, 241, 1);
    --toggle-btn: rgba(42, 45, 60, 1);
    --article-bg: rgba(42, 45, 60, 1);
    --white:rgba(255, 255, 255, 1);
    --black: #0A0B0F;
    --bg-gray: #F3F3F3;
    --section-two-bg: rgba(71, 163, 156, 1);
    --benefitAndFeatures-bg:rgba(243, 243, 243, 1);
    --benefitAndFeatures-content: rgba(10, 11, 15, 1);
    --second-section-content: rgba(10, 11, 15, 1);
    --disabled-btn: rgba(120, 118, 127, 1);
    --footer-content-clr:rgba(21, 23, 30, 1);
}
/* dark theme/light theme toggle */
.dark-mode{
    --clr-content:  rgba(255, 255, 255, 1);
    --hero-section-paragraph: rgba(255, 255, 255, 1);
    --bg-gray: rgba(31, 34, 45, 1);
    --toggle-lightmode:rgba(198, 197, 201, 1);
    --section-two-bg: rgba(31, 71, 68, 1);
    --benefitAndFeatures-bg: rgba(31, 34, 45, 1);
    --benefitAndFeatures-content: rgba(243, 243, 243, 1);
    --second-section-CTA: rgba(10, 11, 15, 1);
    --second-section-content: rgba(255, 255, 255, 1);
    --footer-content-clr: rgba(255, 255, 255, 1);
}
/* custom stylying*/
.container{
    padding: 0 10rem;
}
.primary-btn{
    background-color: var(--Pastel-Turquoise);
    padding: 1rem 3rem;
    border-radius: 12px; 
    color: var(--white);
    font-size: 1.5rem;
}
.spaced-around{
    justify-content: space-around;
}
.primary-btn:hover{
    background-color: var(--light-Pastel-Turquoise);
    color: var(--black);
}
.primary-btn:active{
    background-color: var(--lighter-pastel-Turquoise);
}
.secondary-btn{
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--black);
    font-size: 1.5rem;
}
.secondary-btn:hover{
    color: var(--lighter-pastel-Turquoise);
}
.secondary-btn:active{
    color: var(--lightest-pastel-Turquoise);
}
.btn{
    border: none;
    cursor: pointer;
}
.flex{
    display: flex;
}
/* /////////////BEGINNING OF THE FIRST SECTION STYLING////////// */
.first-section{
    background-color: var(--bg-gray);
    padding-bottom: 8rem;
}
/* /////////////Hero section////////// */
.hero-section-btn{
    display: inline-block;
    margin-top: 2rem;
    background-color: var(--Pastel-Turquoise);
    color: white;
    width: 18rem;
    text-align: center;
}
.hero-section-btn:hover{
    color: var(--black);
    background-color: var(--light-Pastel-Turquoise);
}
.hero-section{
    display: flex;
    justify-content: space-between;    
    padding-top: 4rem;
    padding-inline: 12rem;
    align-items: left;
    max-width: 132rem;
    margin: 0 auto;
}
.hero-section img{
    height: 40rem;
    width: 50rem;
}
.hero-content h1{
    font-size: 6rem;
    color: var(--clr-content);
    text-align: left;
    width: 50rem;
    font-family: 'Candara';
}
.hero-content p{
    font-size: 1.7rem;
    text-align: left;
    color: var(--hero-section-paragraph);
    line-height: 1.3;
}
.hero-content{
    flex-direction: column;
    align-items: left;
    gap: 3rem;
}
/* SECOND SECTION */
.second-section{
     background-color: var(--section-two-bg);
     padding: 4rem 0;
}
.benefits-and-features{
    width: 90%;
    margin: 0 auto;
    background-color: var(--benefitAndFeatures-bg);
    padding: 3rem 0;
    border-radius: 8px;
}
.benefits-and-features h2{
    text-align: center;
    color: var(--benefitAndFeatures-content);
    font-size: 5rem;
    margin-bottom: 4rem;
    font-family: 'Candara';
}
.icon-pair{
    background-color: var(--benefitAndFeatures-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    transition: 0.8s;
}
.icon-pair:hover{
    background-color: var(--lighter-pastel-Turquoise);
}
.mine{
    transition:all .2s ease-in-out;
    height: 5rem;
    width: 5rem;
    color: var(--clr-content);
}
.mine:hover{
    transform:scale(1.3);
}
.turquiose-bg{
    background-color: var(--Pastel-Turquoise);
}
.bg-icon-pair p{
    color: var(--benefitAndFeatures-content);
}
.bg-icon-pair{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
/* Swiped article */
article{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
article img{
    width: 50%;
}
article h2{
    color: rgba(243, 243, 243, 1);
    font-size: 3.5rem;
    text-align: center;
}
.article-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Swiped article */
.sectionTwo-CTA{
    display: flex;
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
    
}
.sectionTwo-CTA a{
    color: var(--black);
    padding:  1.5rem 3rem;
    box-shadow: 0px 2px 67px -15px rgba(8,11,17,0.75);
    -webkit-box-shadow: 0px 2px 67px -15px rgba(8,11,17,0.75);
    -moz-box-shadow: 0px 2px 67px -15px rgba(8,11,17,0.75);
}
.sectionTwo-CTA:hover{
    color: var(--lighter-pastel-Turquoise);
}
.benefits-pair{
    justify-content: space-around;
    padding: 0 3rem;
 }
 .icon-pair{
    height: 11rem;
    width: 11rem;
 }
 .second-section-content{
    color: var(--second-section-content);
    line-height: 1.7;
    text-align: center;
    font-size: 2.9rem;
    margin: 0 auto;
    margin-top: 4rem;
 }
/* THIRD SECTION */
 .third-section{
    padding: 6rem;
    background-color: var(--bg-gray);
 }
 .third-section-content{
    justify-content: space-between;
    border: 1px solid var(--white);
    flex-direction: column;
    padding: 3rem ;
    max-width: 133rem;
    margin: 0 auto;
 }
 .third-section-inner-content h3{
    color: var(--second-section-content);
    font-size: 2.5rem;
 }
 .third-section-inner-content{
    display: flex;
    flex-direction: column;
 }
 .third-section-inner-content p,
 .fourth-section p
 {
    color: var(--second-section-content);
    width: 35rem;
    text-align: center;
 }
 .third-section-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .third-section-inner-content{
    align-items: center;
    gap: 4rem;
    justify-content: center;
 }
 #h3{
    /* width: 30.5rem; */
    text-align: center;
    font-size: 2.4rem;
 }
 .ttyl{
    gap: 0;
 }
 /* FOURTH section */
 .fourth-section{
    background-color: var(--section-two-bg);
    align-items: center;
    justify-content: space-around;
    padding: 4rem 0;
 }
 .fourth-section h4{
    font-size: 4.5rem;
    text-align: center;
    color: var(--second-section-content);
 }
 .fourth-setion-img{
    width: 70rem;
    height: 70rem;
 }
 /* fifth section */
 .fifth-section{
    background-color: var(--bg-gray);
    padding-top: 5rem;
    padding-bottom: 5rem;
    
 }
 .fifth-section p{
    color: var(--second-section-content);
    font-size: 1.8rem;
    width: 50rem;
    text-align: center;
    margin: 3rem auto;
 }
.templates-wrapper ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
    height: 4rem;
    border: 1px solid var(--hero-section-paragraph);
    width: 70%;
    margin: 5rem auto;
}
.fifth-section h4{
    font-size: 3rem;
    text-align: center;
    color: var(--hero-section-paragraph);
    margin-bottom: 2rem;
}
.templates-links{
    color: var(--hero-section-paragraph);
    font-size: 1.5rem;
}
.templates-links:hover::after{
    content: '';
    display: block;
    border-bottom: 2px solid var(--hero-section-paragraph);
    transition: width 1s;

}
.templates-img{
    width: 30rem;
    height: 30rem;
    margin-right: 2rem;

}
.scrollbar{
    display: flex;
    overflow-x: auto;
}
.scrollbar::-webkit-scrollbar{
    width: 0;
}
.blog-templates,
.portfolio-templates,
.ecom-templates{
    display: flex;
    gap: 2rem;
}
.hidden{
    display: none;
}
.disabled-btn{
    color: var(--white);
    display: inline-block;
    width: 17rem;
    margin-inline: auto;
    padding: 1rem 3rem ;
    background-color: var(--disabled-btn);
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    border-radius: 6px;
    box-shadow: 0px 4px 15px 0px rgba(8,11,17,0.75);
    -webkit-box-shadow: 0px 4px 15px 0px rgba(8,11,17,0.75);
    -moz-box-shadow: 0px 4px 15px 0px rgba(8,11,17,0.75);
}
.scrollbar{
    height: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}
.scrollbar::-webkit-scrollbar{
    -webkit-appearance: none;
}
.icon{
    height: 7rem;
    width: 7rem;
    color: var(--lightest-pastel-Turquoise);
    cursor: pointer;
}
.icon:hover{
    color: var(--lighter-pastel-Turquoise);

}
.less-than{
    position: relative;
    left:-2rem;
    height: 9rem;
    width: 9rem;
}
.greater-than{
    margin-left: 2rem;
}
.scroll-container{
    justify-content: center;
    align-items: center;
}
/* SIXTH SECtion */
.sixth-section{
    padding: 5rem 0;
    background-color: var(--section-two-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.sixth-section p{
    font-size: 3rem;
    text-align: center;
    color: var(--second-section-content);
    line-height: 1.5;
}
.sixth-section a{
    display: inline-block;
    width: 40rem;
    text-align: center;
}
footer{
    background-color: var(--bg-gray);
    padding: 5rem 0;
}
.footer{
    display: flex;
   gap: 10rem;
   justify-content: center;
}
.footer-list h4{
    font-size: 3rem;
    font-family: candara;
    text-align: left;
    color: var(--footer-content-clr);
    padding-bottom: .5rem;
}
.footer-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.Footer-links{
    color: var(--footer-content-clr);
    text-align: left;
    font-size: 1.6rem;
}
.footer-list:last-child{
    width: 35rem;
}
.footer-icons{
    display: flex;
    gap: 1.5rem;
}
.footer-links{
    color: var(--footer-content-clr);
    height: 2rem;
    width: 2rem;
}
.footer-list p{
    color: var(--footer-content-clr);
}
.last-footer-list{
    align-items: flex-start;
}
.footer-logo{
    height: 5rem;
}
@media screen and (max-width: 1035px){
    .hero-section{
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
    }
    .hero-content{
        align-items: center;
    }
    .hero-content h1,
    .hero-content p{
        text-align: center;
        width: auto;
    }
    .hero-content p{
        font-size: 2rem;
    }
    .hero-section-btn{
        width: 20rem;
        padding: 2rem 0;
        text-align: center;
    }
    .hero-section img{
        width: 80%;
        margin-top: 2rem;
    }
    .benefits-pair{
        flex-direction: column;
    }
    .second-section-content{
        text-align: center;
        font-size: 2rem;
        margin: 0 auto;
     }
     .fourth-section{
        flex-direction: column;
     }
     .sixth-section p{
        font-size: 1.7rem;
    }
    .footer {
        flex-direction: column;
    }
}