{% block content %}
<h2>Register</h2>

<!-- <form method="post">
    {% csrf_token %}
    {{form}}
    <table>
        {{ form.as_p }}
        Hello
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form> -->

<form method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create my account"></p>
  </form>

<a href="{% url 'login' %}">Back to login</a>
<a href="{% url 'home' %}">Back to Home</a>
{% endblock %}