<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> -->
    <title>Dsyne</title>
    <link rel="shortcut icon" href="./images/Ellipse 1.svg" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d3bd58d5f3.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- FIRST SECTION -->
    <section class="first-section">
        <header class="nav-container">
            <a href="index.html" class="logo-container">
              <img src="./images/clr-logo.svg" alt="logo" class="logo top-image">
              <img src="./images/logo.svg" alt="logo" class="logo">
            </a>
            <nav class="nav-bar" id="nav-links">
              <ul class="nav-items">
                <li><a class="nav-links hidden-for-mobile" href="templates.html">Templates</a></li>
                <li id="select-field" class="hidden-for-mobile">
                  <a class="nav-links" id="drop-btn" href="#/">Build website <span id="drop-down" data-icon="ic:baseline-arrow-drop-down" class="iconify"></span></a>
                  <div class="drop-menu" id="drop-menu">
                      <p>Choose a template</p>
                      <ul id="drop-list">
                          <li><a class="drop-down-options"href="blog.html">Blog</a></li>
                          <li><a class="drop-down-options"href="ecom.html">Ecommerce</a></li>
                          <li><a class="drop-down-options"href="Portfolio.html">Portfolio</a></li>
                      </ul>
                    </div>
                </li>
                <li><a class="nav-links" href="contact us.html">Contact us</a></li>
              </ul>
              <!-- toggle button for switchind theme goes here -->
              <div class="wrapper-color-switch">
                <input type="checkbox" id="input-color-switch" />
                <label for="input-color-switch" class="color-switch">
                  <div class="color-switch-toggle"></div>
                </label>
              </div>
              <!-- toggle button for switchind theme ends here -->
              <div class="nav-buttons">
                <button class="login-btn btn primary-btn">Log In</button>
                <button class="secondary-btn btn signup-btn">Get Started</button>
              </div>
            </nav>
            <a href="#/" class="hidden-for-desktop menu-hamburger menu" id="menu"><span class="iconify menu" data-icon="charm:menu-hamburger"></span></a>
          </header>
        <!-- Hero section -->
        <main>
            <div class="hero-section container ">
                <div class="hero-content flex">
                    <h1>Design easy and unique websites with our Builder
                    </h1>
                    <p>Discover the platform that enables <br> you to independently design, enhance,<br> and expand your web presence.</p>
                    <a href="Login.html" class="btn secondary-btn hero-section-btn"> Get started</a>
                </div>
                <img src="./images/Frame 2.png" alt="Hero-image">
            </div>
        </main>
    </section>
    <!-- END OF SECTION ONE -->
    <section>
        <div class="second-section container">
            <div class="benefits-and-features ">
                <h2>Benefit and features</h2>
                <div class="benefits-pair flex">
                    <div class="bg-icon-pair">
                        <div class="icon-pair"><span class="iconify mine" data-icon="carbon:settings"></span></div>
                        <p>Search Engine Friendly</p>
                    </div>
                    <div class="bg-icon-pair">
                        <div class="icon-pair "><span class="iconify mine" data-icon="clarity:mobile-line"></span></div>
                        <p>Mobile Friendly</p>
                    </div>
                    <div class="bg-icon-pair">
                        <div class="icon-pair"><span class="iconify mine" data-icon="pepicons:paint-pallet"></span></div>
                        <p>Unique Design</p>
                    </div>
                    <div class="bg-icon-pair">
                        <div class="icon-pair"><span class="iconify mine" data-icon="bx:world"></span></div>
                        <p>Language Option</p>
                    </div>
                    <div class="bg-icon-pair">
                        <div class="icon-pair "><span class="iconify mine" data-icon="carbon:user-settings"></span></div>
                        <p>Fully Extensible</p>
                    </div>
                    <div class="bg-icon-pair">
                        <div class="icon-pair "><span class="iconify mine" data-icon="bi:people-fill"></span></div>
                        <p>Multi-User Option</p>
                    </div>
                </div>
                <div class="sectionTwo-CTA"><a href="build-website.html" class="btn secondary-btn">Create a web page</a></div>
            </div>
            <p class="second-section-content">
                With robust content management tools, continuous innovation, <br> advanced security, guaranteed uptime, and much more. — Dsyne <br> gives the website you desire in minimal time
            </p>
        <!-- THE animation goes here -->
        <article class="article-content">
            <img src="./images/articleOne.png" alt="" id="image">
        </article>
        <!-- THE animation goes here -->
        </div>
    </section>
    <!-- END OF SECTION TWO -->
    <section class="third-section">
        <div class="third-section-content flex">
            <div class="third-section-container">
                <div class="third-section-inner-content flex">
                    <h3>Advanced Analytics</h3>
                    <p> 
                        Desyn is a MS automated with the best analytics
                        software, to give you access to efficient and precise
                        web analysis. We’ll help you figure out the trends,
                        and keep you posted with tips on how to improve
                        your website statistics.
                    </p>
                </div>
                <div class="third-section-inner-content flex">
                    <h3>Professional Control </h3>
                    <p>
                        Be professional with Desyne. Utilize our team 
                        friendy workspace and keep track of all your 
                        projects on our task optimizing dashboard. Our 
                        contact integration features and scalability options
                        are here to give your business the best there is.
                    </p>
                </div>
                <div class="third-section-inner-content flex ">
                    <h3 id="h3">Omni-Channel & Omni-Lingual Support</h3>
                    <p> 
                        We support local brands and want 
                        the best  for them. That’s why we offer
                        multi-channel and multi-langiuage features
                        to ensure your website excels irrespective of 
                        geographical barriers.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END OF SECTION THREE -->
    <section class="fourth-section flex">
        <div><img src="./images/dsyne features 1.png" class="fourth-setion-img" alt=""></div>
        <div><h4> One Platform, <br> all the features.</h4></div>
    </section>
    <!-- END OF SECTION THREE -->
    <section class="">
        <div class="fifth-section container">
            <h4>Templates Tailored To Meet Your Web Needs</h4>
            <p>
                You’re making a website. Let’s help you make it pop.
                Dsyne offers you more than 10,000 flexible and carefully 
                crafted templates that will help you achieve your design goals.
            </p>
            <div class="templates-wrapper">
                <ul>
                    <li><a href="#/" class="templates-links" id="blogs" >Blog</a></li>
                    <li><a href="#/" class="templates-links" id="Ecom">E-commerce</a></li>
                    <li><a href="#/" class="templates-links" id="portfolios">Portfolio</a></li>
                </ul>
                   <!-- THIS IS WHERE THAT SCROLLING EFFECT COMES INTO PLAY -->


                   <!-- THIS IS WHERE THAT SCROLLING EFFECT COMES INTO PLAY -->
                <a href="#/" class="btn disabled-btn">View More</a>
            </div>
            
        </div>
    </section>
    <!-- END OF SECTION FIVE -->
    <section class="sixth-section container">
        <p>
            Dsyne is the leading website builder platform for all <br> content creators, irrespective of language barriers <br> and geographical boundaries.
        </p>
        <a href="Build website.html" class="btn secondary-btn">Create Your next website with Dsyne Today</a>
    </section>
    <footer>
        <div class="footer container">
            <div class="footer-list">
                <h4>Product</h4>
                <a class="Footer-links" href="template.html">Template</a>
                <a class="Footer-links" href="build-website.html">Build website</a>
                <a class="Footer-links" href="dashboard.html">Dashboard</a>
                <a class="Footer-links" href="features.html">Features</a>
                <a class="Footer-links" href="sign-up.html">Sign Up</a>
            </div>
            <div class="footer-list">
                <h4>Company</h4>
                <a class="Footer-links" href="about.html">About DSYNE</a>
                <a class="Footer-links" href="contact us.html">Contact Us</a>
            </div>
            <div class="footer-list">
                <h4>Support</h4>
                <a class="Footer-links" href="about.html">Support Center</a>
                <a class="Footer-links" href="login.html">Getting Started</a>
                <a class="Footer-links" href="FAQ.html">FAQ</a>
            </div>
            <div class="footer-list last-footer-list">
                <a href="index.html" class="logo-container">
                    <img src="./images/dsyne 2 LOGO 1.png" alt="logo" class="logo footer-logo">
                  </a>
                <p>Dsyne is the leading website builder platform for all content creators, irrespective of language and geographical boundaries.</p>
                <p>2022 Dsyne.com</p>
                <div class="footer-icons">
                    <span class="iconify footer-links" data-icon="fa:facebook-official"></span>
                    <span class="iconify footer-links" data-icon="bi:linkedin"></span>
                    <span class="iconify footer-links" data-icon="ant-design:instagram-filled"></span>
                    <span class="iconify footer-links" data-icon="akar-icons:twitter-fill"></span>
                </div>
            </div>
        </div>
    </footer>
    <!-- JAVASCRIPT -->
    <script src="index.js"></script>
    <!-- <script src="navbar.js"></script> -->
    <!-- animation javascript -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- animation javascript -->
    <!-- ICONIFY FRAMEWORK -->
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!-- ICONIFY FRAMEWORK -->
</body>
</html>