{% block content %}
<h1>Register</h1>
<a href="{% url 'register' %}">Back to login</a>
<a href="{% url 'home' %}">Back to Home</a>
<form method="post">{% csrf_token %}
    {% for field in registration_form %} 
    <p>
        {{field.label_tag}}
        {{field}}

        {% if field.help_text %}
            <small style="color:gray">{{field.help_text}}</small>
        {% endif %}

        {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
        {% endfor %}
    </p>
    {% endfor %}
    <button type="submit">Register</button>    
</form>  
 
{% endblock content %}